.card_d{
   position: relative;
  top: 90px;
  height: 800px;
  width: 90%;
  background-color: #E8E8E8;
  left: 5%;
}

.down_d{
  display:flex
}

.top_d{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color:#CDC9C9;

}

.title_d{
  position: absolute;
  left: 3%;
  top: -20px;
  font-size: 200%;
  color:#104E8B;
  font-family: Calibri;
  font-weight: 200;

}

.date_d{
  position: absolute;
  left: 91%;
  top: 0px;
  font-size: 130%;
  font-weight: 200;



}


#sinopse{
  position: absolute;
  left: 3%;
  top: 50px;
  font-size: 200%;
  color:#104E8B;
  font-family: Calibri;
  font-weight: 200;
}

.text_d{
  position: absolute;
  height: 30%;
  width: 60%;

  left: 3%;
  top: 130px;
  font-size: 100%;

}
.text_d::before{
  background: none;
  border: 1px solid #104E8B;
  content: "";
  position: absolute;
  top:-22px;
  left: -4px;
  bottom: -3px;
  border-radius: 80px;
  height: 0%;
  width: 100%;
  border-color: #00F5FF;

}

.text_d::after{
  background: none;
  border: 1px solid #104E8B;
  content: "";
  position: absolute;
  top:300px;
  left: -4px;
  bottom: -3px;
  border-radius: 80px;
  height: 0%;
  width: 100%;
  border-color: #00F5FF;

}


#poster{
  position: absolute;
  top: 55px;
  right: 0%;
  height: 93%;
  width:35%;
}

#information{
  position: absolute;
  left: 3%;
  top: 370px;
  font-size: 200%;
  color:#104E8B;
  font-family: Calibri;
  font-weight: 200;

}

.list{
position: relative;
top: 220px;
left: 1%;
color: black;
font-size: 100%;
height:40%;
height:30%;


}

.listp{
position: relative;
top: 210px;
left: -3%;
font-size: 130%;
color: #104E8B;


}

#player{
  position: absolute;
  top: 850px;
  left: 0%;
  height: 100%;
  width: 100%;
  border: 20px black;
}

.percent_d{
   position: absolute;
   left: 19%;
   top: -10%;
    font-size:180%;
    color: #00F5FF;

    }

.per{
  position: absolute;
  height:80px;
  width: 80px;
  left: 680px;
  top:600px;
  background-color:#104E8B;
  border: 4px solid;
  border-color: #00F5FF;
  border-radius: 80px;
}
.per:before{
  background: none;
  border: 4px solid #104E8B;
  content: "";
  position: absolute;
  top:-8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 80px


}



@media(max-width:1300px) {


  .list{
  position: relative;
  top: 220px;
  left: 1%;
  color: black;
  font-size: 100%;
  height:40%;
  height:30%;


  }

  .listp{
  position: relative;
  top: 210px;
  left: -3%;
  font-size: 100%;
  color: #104E8B;


  }

  .per{
    position: absolute;
    height:80px;
    width: 80px;
    left: 480px;
    top:600px;
    background-color:#104E8B;
    border: 4px solid;
    border-color: #00F5FF;
    border-radius: 80px;
  }
}

@media(max-width:987px) {


  .list{
  position: relative;
  top: 220px;
  left: 1%;
  color: black;
  font-size: 80%;
  height:40%;
  height:30%;


  }

  .listp{
  position: relative;
  top: 210px;
  left: -3%;
  font-size: 80%;
  color: #104E8B;


  }

  .per{
    position: absolute;
    height:80px;
    width: 80px;
    left: 400px;
    top:600px;
    background-color:#104E8B;
    border: 4px solid;
    border-color: #00F5FF;
    border-radius: 80px;
  }
}


@media(max-width:773px) {


  .list{
  position: relative;
  top: 265px;
  left: 1%;
  color: black;
  font-size: 70%;
  height:40%;
  height:30%;


  }

  .listp{
  position: relative;
  top: 265px;
  left: -3%;
  font-size: 70%;
  color: #104E8B;


  }

  .per{
    position: absolute;
    height:80px;
    width: 80px;
    left: 350px;
    top:600px;
    background-color:#104E8B;
    border: 4px solid;
    border-color: #00F5FF;
    border-radius: 80px;
  }

  #poster{
    position: absolute;
    top: 55px;
    right: 0%;
    height: 60%;
    width:35%;
  }
};
