.header{
  background-color:#104E8B;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 5px 5px 5px 5px grey;;
  box-sizing: 10px;


}

.movie{
 color:#00F5FF;
 text-align: center;
 font-size: 200%;
 font-family:Calibri;
 font-weight: 200;


 }

#input{
position: absolute;
top:120px;
left: 10%;
width: 80%;
height: 5%;
border-radius:30px;
background-color:#E8E8E8;
border:none;
color: #104E8B;
padding-left: 1.5%;


}





#input:hover{
  box-shadow: 3px 3px 3px grey;
}
#input:focus{
  box-shadow: 3px 3px 3px grey;
  border:none;

    border: 0 none;
    outline: 0;
}

#input::placeholder{
color: #104E8B;
};

#input:-ms-input-placeholder{
color:  #104E8B;
}

#input::-webkit-input-placeholder { /* Edge */
  color: #104E8B;
}




.button{
  position: absolute;
  left: 40%;
  background-color: transparent;
  border: none;
  font-size: 180%;
  position: relative;
  top: 250px;
  width: 70px;
  height:70px;
  background-color: transparent;
  outline: 0;
  border-radius:80px;
  margin-bottom: 50px;
}

#active{
  color: #00F5FF;
  font-size: 230%;
  background-color: #104E8B;
  border: 4px solid #104E8B;
  border-color: #00F5FF;


}

.button:active{
  top: 260px;
  background-color:#104E8B;
  border:none;
}
