.card{
 background-color:#E8E8E8;
  height: 300px;
  width: 81.5%;
  position: relative;
  top: 200px;
  left: 10%;
  overflow: hidden;
  text-overflow:ellipsis;
  border:none;
  box-shadow: 4px 4px 4px #104E8B;
}
.divlink{
 position: absolute;
 background-color: transparent;
 height: 300px;
 width:100%;
 border: none;
 outline:0;

}

.divlink:active{
 position: absolute;
 background-color: #00F5FF;
 height: 300px;
 width:100%;

 cursor: pointer;
}





.image{
  position: absolute;
  height: 100%;
  width:20%;
}

.top{
  position: absolute;
  top: 0px;
  height: 24%;
  width:100%;
  background-color:#104E8B;
}

.title{
  position: absolute;
  top: -10px;
  color:#00F5FF;
  font-size: 250%;
  font-family:Calibri;
  font-weight: 200;
  left:30%;
}


.bol{
   background-color: #104E8B;
   position: absolute;
   left: 22%;
   top: 42%;
   width: 73px;
   height:100%;
   border-radius: 60px;
   border: 4px solid ;
   border-color: #00F5FF;
   box-shadow: inset 0 0 0.5em #00F5FF, 0 0 3em rgb(30 95 150);

}

.bol::before{
  background: none;
  border: 4px solid #104E8B;
  content: "";
  position: absolute;
  top:-8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 80px


}

.date{
  position: absolute;
  top: 55px;
  left:29%;
  font-size: 130%;
  font-family: Calibri;
  font-weight: 200;

}



.percent{
  position: relative;
  top: -13px;
  left: 16%;
  font-size:180%;
  color: #00F5FF;
  width: 5%;
  height: 5%;
}

.text{

  position: absolute;
  font-family: Calibri;
  font-size: 100%;
  top: 112px;
  left: 23%;


}


@media(max-width:1024px) {

  .card{
    overflow: hidden;
    text-overflow:ellipsis;
    height:200px;
    }




.top{
  position: absolute;
  top: 0px;
  height: 15%;
  width:100%;

}



.title{
   position: relative;
   font-size: 120%;
   width: 100%;
   top: -10px;
   left: 38%;
   margin-right: 20px;
   text-overflow:ellipsis;

}



.bol{
   background-color: #104E8B;
   border: 2px solid #104E8B;
   border-color: #00F5FF;
   position: absolute;
   left: 32%;
   top: 48%;
   width: 27px;
   height:85%;



}

.bol::before{
  background: none;
  border: 2px solid #104E8B;
  content: "";
  position: absolute;
  top:-8px;
  left: -4px;
  bottom: -3px;
  border-radius: 80px;
  height: 132%;
  width: 31px;



}



.percent{

  position: relative;
  top: -10px;
  left: 9%;
  font-size:80%;
  width: 5%;
  height: 5%;

}

.date{
  position: absolute;
  top: 15px;
  left:38%;
  font-size: 80%;
  font-family: Calibri;
  font-weight: 200;
}
.image{
  position: absolute;
  height: 100%;
  width:30%;
}

.text{

  position: absolute;
  font-family: Calibri;
  font-size: 65%;
  top: 50px;
  left: 35%;

}

};

@media(max-width:500px) {


  #input{
  position: absolute;
  top:120px;
  left: 1%;
  width: 30%;



  }


  .card{
    overflow: hidden;
    text-overflow:ellipsis;
    height:200px;
    }




.top{
  position: absolute;
  top: 0px;
  height: 15%;
  width:100%;

}



.title{
   position: relative;
   font-size: 120%;
   width: 100%;
   top: -10px;
   left: 45%;
   margin-right: 20px;
   text-overflow:ellipsis;

}



.bol{
   background-color: #104E8B;
   border: 2px solid #104E8B;
   border-color: #00F5FF;
   position: absolute;
   left: 32%;
   top: 48%;
   width: 27px;
   height:85%;



}

.bol::before{
  background: none;
  border: 2px solid #104E8B;
  content: "";
  position: absolute;
  top:-8px;
  left: -4px;
  bottom: -3px;
  border-radius: 80px;
  height: 132%;
  width: 31px;



}



.percent{

  position: relative;
  top: -10px;
  left: 9%;
  font-size:80%;
  width: 5%;
  height: 5%;

}

.date{
  position: absolute;
  top: 15px;
  left:45%;
  font-size: 80%;
  font-family: Calibri;
  font-weight: 200;
}
.image{
  position: absolute;
  height: 100%;
  width:30%;
}

.text{

  position: absolute;
  font-family: Calibri;
  font-size: 65%;
  top: 50px;
  left: 35%;

}

};
